<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<servlet>
		<servlet-name>registServlet</servlet-name>
		<servlet-class>com.favor.controller.RegistServlet</servlet-class>
		<init-param>
			<param-name>tempDir</param-name>
			<param-value>/temp</param-value>
		</init-param>
		<init-param>
			<param-name>realDir</param-name>
			<param-value>/data</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>registServlet</servlet-name>
		<url-pattern>/admin/regist</url-pattern>
	</servlet-mapping>
</web-app>