<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReBoard">
  
  <sql id="select">
  	select * from reboard
  </sql>
  
  <select id="selectAll" resultType="ReBoard">
 	<include refid="select"/>
 	order by team desc, rank asc
  </select>
  
  <select id="selectOne" resultType="ReBoard" parameterType="int">
  	<include refid="select"/>
  	where reboard_id=#{reboard_id}
  </select>
  
  <insert id="insert" parameterType="ReBoard">
  	<selectKey order="AFTER" keyProperty="reboard_id" resultType="int">
  		select last_insert_id() as reboard_id
  	</selectKey>
  	insert into reboard ( writer,title,content)
  	values(#{writer},#{title},#{content})
  </insert>
  
  <!-- 원글에 team 값 업데이트 -->
  	<update id="updateTeam" parameterType="ReBoard">
  		update reboard set team =#{reboard_id}
  		where reboard_id = #{reboard_id}
  	</update>
  
  <!-- 답변글 등록 전 업데이트-->
  <update id="updateForReply" parameterType="ReBoard">
  	<![CDATA[
  	update reboard set rank = rank+1
  	where team=#{team} and rank > #{rank}
  	]]>
  </update>
  
  <!-- 답변글 등록 -->
  <insert id="reply" parameterType="ReBoard">
  	insert into reboard(writer,title,content,team,rank,depth)
  	values(#{writer},#{title},#{content},#{team},#{rank}+1,#{depth}+1)
  </insert>
  
  <delete id="delete" parameterType="int">
  	delete from reboard where reboard_id = #{reboard_id}
  </delete>
  
  <update id="update" parameterType="ReBoard">
  	update reboard set writer=#{writer},title=#{title},content=#{content}
  	where reboard_id = #{reboard_id}
  </update>
  
  
  
</mapper>