<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>EmpList</servlet-name>
    <servlet-class>com.sds.emp.EmpList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpList</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpRegist</servlet-name>
    <servlet-class>com.sds.emp.EmpRegist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpRegist</servlet-name>
    <url-pattern>/Regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpDelete</servlet-name>
    <servlet-class>com.sds.emp.EmpDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpDelete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpModfiy</servlet-name>
    <servlet-class>com.sds.emp.EmpModfiy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpModfiy</servlet-name>
    <url-pattern>/Modfiy</url-pattern>
  </servlet-mapping>
</web-app>