<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	
	<!-- <bean id="boardcontroller" class="com.sds.controller.board.BoardController">
		<property name="dog" ref="dog"></property>
	</bean> -->
	
	<!--뷰리절부  -->
	<bean id="viewResolver" 
	class="org.springframework.web.servlet.view.InternalResourceViewResolver"
	p:prefix="/"
	p:suffix=".jsp"
	/>
	
	<context:component-scan base-package="com.sds.controller">
		<context:include-filter type="annotation" 
		expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<bean id="myLogger" class="com.sds.common.log.MyLogger"/>
	
	<aop:config>
		<aop:aspect id="LoggerAspect" ref="myLogger">
		<aop:pointcut 
		expression="execution(public * com.sds..*..*(..))" 
		id="controllerCut"/>
		<aop:around method="printMsg" pointcut-ref="controllerCut"/>
		</aop:aspect>
	</aop:config>
	

</beans>
