<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <!-- 스프링으로 응용 프로그램 개발시 사용햇던 applicationcontext 는 Spring mvc에서 
  명시하지 않아도 각 서블릿에서 생성시키며 관리된다 각 서블릿이 관리 하는 ac에 등록된 빈들은 서로 접근이 
  불가능하다, 즉 독립적이다..
  따라서 ac간 공유해야 할 빈이 있을 경우 (비즈니스 로직 객체들 service, dao) 공유 불가...
  (해결책)ac의 관리 객체의 생명력,접근가능 범위 순준을 보다 높이기 위해, servletcontext가 관리 하도록 해보자..
  (이미 스프링이 지원하고 있다..) 
   -->
      
   <!-- 인코딩 필터 처리는 요청을 받기전에 해야 하므로, servlet mapping 보다 위에서 기재한다 -->
   <filter>
   <filter-name>encodingFilter</filter-name>
   <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
   <init-param>
   <param-name>encoding</param-name>
   <param-value>UTF-8</param-value>
   </init-param>
   </filter>
   
   <filter-mapping>
   <filter-name>encodingFilter</filter-name>
   <url-pattern>/*</url-pattern>
   </filter-mapping>
   
   <servlet>
  	 	<servlet-name>dispatcher</servlet-name>
  		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   		<init-param>
  			<param-name>contextConfigLocation</param-name>
  			<param-value>
  				WEB-INF/context.xml
  			</param-value>
  		</init-param>
   </servlet>
   
   
   <servlet-mapping>
   		<servlet-name>dispatcher</servlet-name>
   		<url-pattern>*.do</url-pattern>
   </servlet-mapping>
   
   
</web-app>