<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Comments">
  <!-- select 문의 결과 레코드를 dto에 자동으로 맵핑해준다고 하여, SqlMapper라고 한다!! -->
  
  <insert id="insert" parameterType="Comments">
  insert into comments (comments_id, product_id,title,writer)
  values(seq_comments.nextval,#{product_id},#{title},#{writer})
  </insert>
  
  <select id="selectAll" parameterType="int" resultType="Comments">
  select * from comments where product_id = #{product_id} order by comments_id desc
  </select>
  
</mapper>