<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">

<resultMap id="deptMap" type="Dept">
	<id column="deptno" property="deptno"/>
	<result column="dname" property="dname"/>
	<result column="loc" property="loc"/>
	<collection property="empList" javaType="java.util.ArrayList" ofType="Emp">
		<id column="empno" property="empno"/>
		<result column="ename" property="ename"/>
		<result column="job" property="job"/>
		<result column="mgr" property="mgr"/>
		<result column="hiredate" property="hiredate"/>
		<result column="sal" property="sal"/>
		<result column="comm" property="comm"/>
		
	</collection>
</resultMap>

<select id="selectAll" resultType="Dept" resultMap="deptMap">
	select d.deptno as deptno, 
	dname, loc,
	empno, ename, job, mgr, hiredate, sal, comm
	from dept d, emp e
	where d.deptno=e.deptno
</select>

</mapper>