<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">
  <!-- select 문의 결과 레코드를 dto에 자동으로 맵핑해준다고 하여, SqlMapper라고 한다!! -->
  
  <select id="selectAll" resultType="Product">
    select * from product
  </select>
  
  <select id="selectBySubId" resultType="Product" parameterType="int">
  select * from product where sub_id=#{sub_id}
  </select>
  
  <select id="select" resultType="Product" parameterType="int">
  	select * from product where product_id=#{product_id}
  </select>
  
  <select id="selectByEventInfoId" resultType="Product" parameterType="int">
select p.*
from eventproduct e, product p
where e.product_id=p.product_id
and e.eventinfo_id=#{eventinfo_id}
  </select>
</mapper>